.chapter {
    display: flex;
    flex-direction: row;
    width: 25em;
    align-items: center;
    border-bottom: 1px solid rgba(155, 155, 155, 0.573);
    cursor: pointer;
}

.chapter:hover {
    background-color: rgb(251, 251, 251);
}

.chapter:active {
    background-color: rgb(226, 226, 226);
}

.left-div {
    padding: 10px;
}

.right-div {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.video-name {
    font-weight: 600;
}

.video-length {
    font-style: italic;
    float: right;
    margin-left: auto;
}