.current-video {
    display: flex;
    flex-direction: column;
    width: 76%;
    position: absolute;
    right: 0;
}

.large-video {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-video iframe {
    width: 60vw;
    height: calc(60vw/1.77);
}

.large-title {
    font-weight: 600;
    font-size: 1.2em;
    padding: 10px 0 0 10px;
}

.large-author {
    padding: 10px 0 0 10px;
}

.large-desc {
    padding: 10px 0 0 10px;
    font-size: 12px;
}